{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Todos list</h1>


        {% for todo in todos %}

            <h3> <a href="{{ path('todo_show', { 'id': todo.id }) }}">{{ todo.content }}</a></h3>

            <p> {{ todo.date|date('Y-m-d')}}</p>


                            <a href="{{ path('todo_show', { 'id': todo.id }) }}" class="btn btn-success">show</a>

                        <a href="{{ path('todo_edit', { 'id': todo.id }) }}" class="btn btn-warning" >edit</a>
                        <a href="{{ path('todo_trashed', { 'id': todo.id }) }}" class="glyphicon glyphicon-trash" ></a>


        {% endfor %}


    <ul>
        <li>
            <a href="{{ path('todo_new') }}">Create a new todo</a>
        </li>
    </ul>
{% endblock %}
